.poz-top__item{
    width: 269px;
    padding: 0 37px;
    padding-top: 20px;
    padding-bottom: 16px;
    box-shadow: 0 0 51px rgba(4, 91, 134, 0.16);
    border-radius: 10px;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
    &:hover{
        box-shadow: none;
    }
    h2{
        color: #1b2942;
        text-align: center;
        font-size: 16px;
    }
    p{
        color: #1b2942;
        font-size: 16px;
        text-align: center;
        line-height: 22px;
    }
    .pi_img{
        width: 89px;
        height: 89px;
        margin: 0 auto;
        border-radius: 1000px;
        background-color: rgba(198, 230, 255, 0.51);
        text-align: center;
        line-height: 89px;
        margin-bottom: 25px;
    }
}

.top__middle{
    .midi2{
        &:after{
            display: none;
        }
    }
}


.poz-top-list{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -125px;
}

.c-pozvolte{
    position: relative;
    padding-top: 270px;
    background-position: 0 0;
    .sec-descr{
        h2{
            line-height: 48px;
        }
        p{
            font-weight: 400;
            &:first-child{
                padding: 0 215px;
            }
            &:last-child{
                padding: 0 106px;
            }
            span{
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }
}

.poz-row{
    display: flex;
    flex-direction: row;
    margin-top: 63px;
}

.poz-img-bg{
    background-image: url(../img/picture_2section_shadow.png);
    background-repeat: no-repeat;
    background-position: 5px 82px;
}

.poz-col{
    position: relative;
    .pctrs1{
        position: absolute;
        left: 23px;
        top: 39px;
        width: 220px;
        height: 256px;
    }
    .pctrs2{
        position: absolute;
        left: 64%;
        top: 20%;
        width: 180px;
        height: 110px;
    }
    .pctrs3{
        position: absolute;
        left: 68.5%;
        top: 37%;
        width: 117px;
        height: 70px;
    }
    img{
        width: 590px;
        height: 428px;
    }
    &:first-child{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &:last-child{
        padding-left: 60px;
    }
    .col-reg{
        box-shadow: 0 0 51px rgba(4, 91, 134, 0.16);
        border-radius: 10px;
        background-color: #ffffff;
        width: 491px;
        position: relative;
        padding: 0 45px;
        padding-top: 39px;
        padding-bottom: 43px;
        margin-top: 59px;
        margin-right: 15px;
        img{
            width: 101px;
            height: 113px;
            position: absolute;
            right: -4px;
            top: -54px;
        }
        span{
            display: block;
            color: #1b2942;
            font-size: 20px;
            line-height: 30px;
        }
        a{
            width: 395px;
            height: 55px;
            box-shadow: 0 0 10px rgba(11, 53, 88, 0.29);
            border-radius: 28px;
            background-color: #f9d511;
            display: block;
            text-align: center;
            font-size: 16px;
            color: #1b2942;
            line-height: 55px;
            font-weight: 600;
            transition: all 0.3s ease-in-out;
            margin-top: 25px;
            &:hover{
                box-shadow: none;
                background-color: #eac600;
            }
        }
    }
    ul{
        margin-bottom: 30px;
        li{
            list-style: none;
            margin-bottom: 10px;
            font-size: 16px;
            &:first-child{
                font-size: 22px;
                font-weight: 600;
                color: #1b2942;
                position: relative;
                margin-bottom: 10px;
                &:before{
                    position: absolute;
                    width: 20px;
                    height: 21px;
                    content: '';
                    background-image: url(../img/galka.svg);
                    top: 8px;
                    left: -33px;
                }
            }
        }
    }
}

.on__row{
    display: flex;
    .on-col{
        .num-top{
            font-size: 46px;
            color: #f9d511;
            font-weight: 700;
        }
        h2{
            color: #1b2942;
            font-size: 22px;
            line-height: 30px;
        }
        p{
            font-size: 16px;
            color: #425c68;
            span{
                font-weight: 600;
                display: block;
            }
        }
    }
}

.mt{
    margin-top: 70px;
}

.row1{
    justify-content: space-between;
    margin-top: 60px;
    .on-col.col-cal{
        width: 654px;
        box-shadow: 0 0 51px rgba(4, 91, 134, 0.16);
        border-radius: 10px;
        background-color: #ffffff;
        padding-top: 33px;
        padding-left: 42px;
        padding-bottom: 69px;
        padding-right: 51px;
        display: flex;
        flex-direction: row;
        .cal-row{
            display: flex;
            justify-content: space-between;
        }
        .cal-col-l{
            width: 320px;
            p{
                color: #1b2942;
            }
            form{
                p{
                    &:first-child{
                        margin: 0;
                        margin-top: 25px;
                    }
                    &:last-child{
                        margin: 0;
                        margin-top: 36px;
                    }
                }
            }
            label[for='range']{
                width: 100%;
                position: relative;
                margin-bottom: 65px;
                input[type=range] {
                    -webkit-appearance: none;
                    width: 100%;
                    border: 0;
                  }
                  input[type=range]:focus {
                    outline: none;
                  }
                  input[type=range]::-webkit-slider-runnable-track {
                    width: 100%;
                    height: 8px;
                    cursor: pointer;
                    background: #e1e1e1;
                    border-radius: 4px;
                  }
                  input[type=range]::-webkit-slider-thumb {
                    border: 5px solid #06d6c8;
                    height: 18px;
                    width: 18px;
                    border-radius: 100px;
                    background: #ffffff;
                    cursor: pointer;
                    -webkit-appearance: none;
                    margin-top: -5px;
                  }
                  input[type=range]:focus::-webkit-slider-runnable-track {
                    background: #e1e1e1;
                  }
                  input[type=range]::-moz-range-track {
                    width: 100%;
                    height: 8.4px;
                    cursor: pointer;
                    background: #e1e1e1;
                    border-radius: 1.3px;
                  }
                  input[type=range]::-moz-range-thumb {
                    border: 1px solid #06d6c8;
                    height: 18px;
                    width: 18px;
                    border-radius: 100px;
                    background: #ffffff;
                    cursor: pointer;
                  }
                  input[type=range]::-ms-track {
                    width: 100%;
                    height: 8.4px;
                    cursor: pointer;
                    background: transparent;
                    color: transparent;
                  }
                  input[type=range]::-ms-fill-lower {
                    background: #2e6ca1;
                    border: 0.2px solid #010101;
                    border-radius: 2.6px;
                  }
                  input[type=range]::-ms-fill-upper {
                    background: #3071a9;
                    border-radius: 2.6px;
                  }
                  input[type=range]::-ms-thumb {
                    border: 1px solid #06d6c8;
                    height: 18px;
                    width: 18px;
                    border-radius: 100px;
                    background: #ffffff;
                    cursor: pointer;
                    height: 8.4px;
                  }
                  input[type=range]:focus::-ms-fill-lower {
                    background: #e1e1e1;
                  }
                  input[type=range]:focus::-ms-fill-upper {
                    background: #e1e1e1;
                  }
                p{
                    position: absolute;
                    width: 62px;
                    text-align: center;
                    font-size: 12px;
                    span{
                        display: block;
                        font-size: 10px;
                        color: #06d6c8;
                        font-weight: 400;
                    }
                    &:nth-child(2){
                        left: 0;
                        bottom: -35px;
                    }
                    &:nth-child(3){
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: -65px;
                    }
                    &:last-child{
                        right: 0;
                        bottom: -49px;
                    }
                }
            }
            label[for='summ']{
                width: 100%;
                input{
                    width: 100%;
                    height: 40px;
                    border-radius: 4px;
                    border: 1px solid #babfc7;
                    background-color: transparent;
                    
                }
            }
            .cal-level{
                .l-line{
                    position: relative;
                    width: 100%;
                    height: 8px;
                    border-radius: 4px;
                    background-color: #e1e1e1;
                    overflow: hidden;
                    &:after{
                        position: absolute;
                        width: 120%;
                        height: 10px;
                        content: '';
                        background-color: #06d6c8;
                        left: -50%;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                .point{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    span{
                        display: inline-block;
                        max-width: 86px;
                        font-size: 10px;
                        color: #425c68;
                        text-align: center;
                        &:first-child{
                            width: 54px;
                        }
                        &:last-child{
                            color: #06d6c8;
                        }
                    }
                }
            }
            .current{
                position: relative;
                width: 196px;
                &:hover{
                    ul{
                        opacity: 1;
                        visibility: visible;
                        margin-top: 0;
                     }
                }
                .open-sel{
                    width: 196px;
                    height: 40px;
                    border-radius: 4px;
                    border: 1px solid #babfc7;
                    display: block;
                    line-height: 40px;
                    font-size: 12px;
                    text-transform: uppercase;
                    color: #1b2942;
                    position: relative;
                    span{
                        margin-right: 7px;
                        margin-left: 13px;
                        display: inline-block;
                    }
                    &:after{
                        content: '';
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 12px;
                        width: 11px;
                        height: 7px;    
                        background-image: url(../img/polygon-11.svg);
                        background-repeat: no-repeat;
                        background-position: 0 0;
                    }
                }
                .cur-sel{
                    width: 196px;
                    height: auto;
                    position: absolute;
                    background-color: #ffffff;
                    box-shadow: 0 0 50px 0 rgba(22,104,183,.15);
                    opacity: 0;
                    display: block;
                    visibility: hidden;
                    margin-top: 20px;
                    transition: 0.3s ease-in-out;
                    li{
                        list-style-type: none;
                        padding: 10px;

                        a{
                            color: #1b2942;
                            font-size: 12px;
                            text-transform: uppercase;
                            display: block;
                            border-radius: 5px;
                            transition: 0.3s ease-in-out;
                            padding: 5px;
                            line-height: 2;
                            span{
                                margin-right: 7px;
                            }
                            &:hover{
                                background-color: #0081ff;
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
            .checkin{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 32px;
                input{
                    width: 26px;
                    height: 25px;
                    border-radius: 4px;
                    border: 1px solid #babfc7;
                    background-color: #ffffff;
                    margin-right: 16px;
                }
                span{
                    font-size: 14px;
                    color: #1b2942;
                }
            }
        }
        .cal-col-r{
            width: 211px;
            height: auto;
            border: 1px solid #06d6c8;
            padding-left: 24px;
            padding-top: 36px;
            padding-right: 13px;
            h2{
                color: #1b2942;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0.07px;
            }
            p{
                font-size: 14px;
                color: #607d8b;
                &:nth-child(4){
                    border-bottom: 1px solid #e1e1e1;
                }
                .sb{
                    font-size: 40px;
                }
                span{
                    font-size: 18px;
                    color: #06d6c8;
                    font-weight: 700;
                    letter-spacing: 0.17px;     
                }
            }
        }
    }
    .on-col{
        width: 444px;
        .create-trade{
            width: 310px;
            height: 55px;
            box-shadow: 0 0 10px rgba(11, 53, 88, 0.29);
            border-radius: 28px;
            background-color: #f9d511;
            color: #1b2942;
            line-height: 55px;
            text-align: center;
            transition: all 0.3s ease-in-out;
            display: block;
            font-weight: 600;
            margin-top: 50px;
            &:hover{
                box-shadow: none;
			    background-color: #eac600;    
            }
        }
    }
}

.cal-level{
    margin-bottom: 15px;
}

.row1{
    .create-trade{
        display: none;
        width: 310px;
        height: 55px;
        box-shadow: 0 0 10px rgba(11, 53, 88, 0.29);
        border-radius: 28px;
        background-color: #f9d511;
        color: #1b2942;
        line-height: 55px;
        text-align: center;
        transition: all 0.3s ease-in-out;
        font-weight: 600;
        margin-top: 50px;
        &:hover{
            box-shadow: none;
            background-color: #eac600;    
        }
    }
}

.calculate{
    width: 100%;
}

.row2{
    display: flex;
    flex-direction: row; 
    margin-top: 109px; 
    .r2-img{
        padding: 10px;
        background-image: url(../img/bitnode2_shadow.png);
        background-repeat: no-repeat;
        background-position: 45px bottom;
        background-size: 90%;
        img{
            width: 537px;
            height: 458px;
        }
    }
}

.on-colr2_text{
    padding-left: 100px;
    .num-top{
        font-size: 46px;
        color: #f9d511;
        font-weight: 700;
    }
    h2{
        color: #1b2942;
        font-size: 22px;
        line-height: 30px;
    }
    p{
        font-size: 16px;
        color: #425c68;
        span{
            font-weight: 600;
            display: block;
        }
    }
    ul{
        font-size: 16px;
        color: #425c68;
        li{
            list-style-type: none;
            padding-left: 35px;
            position: relative;
            margin-top: 15px;
            &:last-child{
                margin-bottom: 25px;
            }
            &:before{
                position: absolute;
                width: 20px;
                height: 21px;
                content: '';
                background-image: url(../img/galka.svg);
                top: 5px;
                left: 0;
            }
        }
    }
    a{
        width: 225px;
        height: 55px;
        box-shadow: 0 0 10px rgba(11, 53, 88, 0.29);
        border-radius: 28px;
        background-color: #f9d511;
        color: #1b2942;
        font-size: 16px;
        text-align: center;
        font-weight: 600;
        line-height: 55px;
        display: block;
        transition: 0.3s ease-in-out;
        margin-top: 40px;
        &:hover{
            box-shadow: none;
            background-color: #eac600;
            color: #1b2942; 
        }
    }
}

.row3{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 38px;
    .on-colr3_text{
        width: 433px;
        .num-top{
            font-size: 46px;
            color: #f9d511;
            font-weight: 700;
        }
        h2{
            color: #1b2942;
            font-size: 22px;
            line-height: 30px;
        }
        p{
            font-size: 16px;
            color: #425c68;
            span{
                font-weight: 600;
                display: block;
            }
        }
        a{
            width: 245px;
            height: 55px;
            box-shadow: 0 0 10px rgba(11, 53, 88, 0.29);
            border-radius: 28px;
            background-color: #f9d511;
            color: #1b2942;
            font-size: 16px;
            text-align: center;
            font-weight: 600;
            line-height: 55px;
            display: block;
            transition: 0.3s ease-in-out;
            margin-top: 40px;
            &:hover{
                box-shadow: none;
                background-color: #eac600;
                color: #1b2942; 
            }
        }
    }
    .on-colr3{
        width: 60%;
        text-align: center;
    }
    .r3-img{
        text-align: right;
        padding-right: 90px;
        padding-top: 20px;
        img{
            width: 330px;
            height: 385px;
        }
    }
}

.c-pozvolte{
    background-image: url(../img/bg-long.svg);
    background-repeat: no-repeat;
    background-position: -3px 10%;
    padding-bottom: 77px;
}

.item{
    border-radius: 10px;
    background-color: #ffffff;
    padding: 30px 0px;
    text-align: center;
    h2{
        font-size: 20px;
        color: #1b2942;
        margin-top: 37px;
        margin-bottom: 0;
    }
    span{
        margin-bottom: 10px;
        display: block;
    }
}


.item-inner{
    padding: 0 70px;
}

.sl-prev{
    width: 49px;
    height: 49px;
    background-color: #ffffff;
    border-radius: 1000px;
    text-align: center;
    line-height: 49px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -55px;
    margin-right: 4px;
    transition: 0.3s ease-in-out;
    &:hover{
        opacity: 0.6;
    }
}

.slider-inner{
    position: relative;
    margin-top: 80px;
}

.sl-next{
    width: 49px;
    height: 49px;
    background-color: #ffffff;
    border-radius: 1000px;
    text-align: center;
    line-height: 49px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -55px;
    margin-left: 4px;
    transition: 0.3s ease-in-out;
    &:hover{
        opacity: 0.6;
    }
}

.right-panel{
    table{
        border-top: 1px solid #e3ebf3;
        td,th{
            border-right: 1px solid #e3ebf3;
            border-bottom: 1px solid #e3ebf3;
            padding: 10px;
            &:last-child{
                border-right: 0;
            }
        }
        td{
            text-align: center;
            font-size: 11px;
            color: #1b2942;
        }
        th{
            font-size: 11px;
            color: #1b2942;
            font-weight: 700;
        }
        .buy{
            background-color: #00b5b8;
            border-radius: 3px;
            display: block;
            padding: 1px 9px;
            color: #ffffff;
            text-align: center;
        }
        .plus{
            color: #00b5b8;
        }
        .minus{
            color: #e9565d;
        }
        .sell{
            border-radius: 3px;
            display: block;
            padding: 1px 9px;
            color: #ffffff;
            text-align: center;
            background-color: #e9565d;
        }
    }
}

.c-statistic{
    background-image: url(../img/stat-bg.svg);
    background-repeat: no-repeat;
    background-position: -2px 0;
    padding-top: 70px;
    background-size: cover;
}

.panel-stat{
    display: flex;
    flex-direction: row;
    background-image: url(../img/browser.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    padding: 0 30px;
    padding-top: 90px;
    box-shadow: -1px -18px 27px rgba(0, 67, 110, 0.43);
    padding-bottom: 70px;
}

.day, .week{
    width: 235px;
    border-radius: 10px;
    background-color: #f5f7fa;
    padding-bottom: 20px;
    p{
        font-size: 36px;
        color: #1b2942;
        text-align: center;
        margin-bottom: 0;
    }
    span{
        display: block;
        text-align: center;
        font-size: 18px;
        color: #425c68;
    }
}

.left-panel{
    margin-right: 30px;
    h2{
        margin-bottom: 30px;
        font-size: 20px;
        color: #1b2942;
    }
}

.right-panel{
    width: 100%;
    h2{
        margin-bottom: 30px;
        font-size: 20px;
        color: #1b2942;
    }
    table{
        width: 100%;
        tbody{
            tr{
                &:nth-child(odd){
                    background-color: #f5f7fa;
                }
            }
        }
    }
}

.day{
    margin-bottom: 15px;
}

.but-stat{
    margin-top: 42px;
}

.check-stat{
    width: 262px;
    height: 55px;
    border-radius: 28px;
    border: 1px solid #3f7fcf;
    font-size: 16px;
    color: #3f7fcf;
    text-align: center;
    line-height: 55px;
    display: inline-block;
    margin-right: 30px;
    transition: 0.3s ease-in-out;
    &:hover{
        background-color: #3f7fcf;
        color: #ffffff;
    }
}

.reg-stat{
    width: 332px;
    height: 55px;
    box-shadow: 0 0 10px rgba(11, 53, 88, 0.29);
    border-radius: 28px;
    background-color: #f9d511;
    font-size: 16px;
    font-weight: 600;
    color: #1b2942;
    display: inline-block;
    text-align: center;
    line-height: 55px;
    transition: 0.3s ease-in-out;
    &:hover{
        box-shadow: none;
        background-color: #eac600;
        color: #1b2942; 
    }
}

.sec-descr-white{
    text-align: center;
    margin-bottom: 40px;
    h2{
        font-size: 40px;
        color: #ffffff;
        font-family: 'gilroy', sans-serif;
        line-height: 48px;
        margin-bottom: 35px;
    }
    p{
        font-size: 20px;
        color: #c2d1ec;
        line-height: 30px;

    }
}

.c-keys{
    padding-top: 80px;
    background-image: url(../img/bg-k.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-bottom: 80px;
    .sec-descr{
        h2{
            line-height: 48px;
        }
    }
}

.keys-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 70px;
}

.key-item{
    width: 361px;
    height: 463px;
    box-shadow: 0 0 51px rgba(4, 91, 134, 0.16);
    border-radius: 10px;
    background-color: #ffffff;
    padding: 0 43px;
    padding-top: 30px;
    margin-bottom: 30px;
    transition: 0.3s ease-in-out;
    &:hover{
        box-shadow: none;
    }
    h2{
        font-size: 20px;
        text-align: center;
        color: #1b2942;
        margin-top: 20px;
    }
    p{
        font-size: 16px;
        color: #425c68;
        text-align: center;
    }
    .key-img{
        width: 97px;
        height: 97px;
        margin: 0 auto;
        text-align: center;
        line-height: 97px;
        background-color: rgba(198, 230, 255, 0.51);
        border-radius: 1000px;
    }
}

.key-reg{
    margin-top: 60px;
    p{
        color: #1b2942;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
    }
    a{
        width: 390px;
        height: 55px;
        box-shadow: 0 0 10px rgba(11, 53, 88, 0.29);
        border-radius: 28px;
        background-color: #f9d511;
        text-align: center;
        line-height: 55px;
        transition: 0.3s ease-in-out;
        display: block;
        margin: 0 auto;
        font-size: 16px;
        color: #1b2942;
        font-weight: 600;
        &:hover{
            box-shadow: none;
            background-color: #eac600;
            color: #1b2942; 
        }
    }
}

.c-pribul{
    background-image: url(../img/pr-bg.svg);
    background-repeat: no-repeat;
    background-position: -3px 0;
    padding: 80px 0;
    .sec-descr{
        h2{
            line-height: 48px;
        }
    }
}

.pr-list{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.pr-img{
    justify-content: flex-end;
    display: flex;
    width: 50%;
    align-items: flex-start;
    img{
        width: 407px;
        height: 577px;
    }
}

.pr-text{
    width: 49%;
    h2{
        font-size: 22px;
        color: #1b2942;
        line-height: 30px;
        font-weight: 500;
        &:nth-child(3){
            margin-top: 45px;
        }
    }
    p{
        color: #425c68;
        font-size: 16px;
        margin-bottom: 25px;
    }
    a{
        width: 330px;
        height: 55px;
        box-shadow: 0 0 10px rgba(11, 53, 88, 0.29);
        border-radius: 28px;
        background-color: #f9d511;
        text-align: center;
        line-height: 55px;
        display: block;
        transition: 0.3s ease-in-out;
        color: #1b2942;
        font-size: 16px;
        font-weight: 600;
        margin-top: 40px;
        &:hover{
            box-shadow: none;
            background-color: #eac600;
            color: #1b2942; 
        }
    }
}

.sec-descr{
    h2{
        line-height: 48px;
    }
}

.why-training{
    background-image: url(../img/bg-itm.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-bottom: 80px;
    padding-top: 70px;
    .sect-descr{
        margin-bottom: 60px;
        h2{
            color: #ffffff;
            text-align: center;
            font-family: 'gilroy', sans-serif;
            font-size: 40px;
            line-height: 48px;
            span{
                position: relative;
                &:after{
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 12px;
                    background-color: #5492de;
                    opacity: 1;
                    left: 0;
                    bottom: 8px;
                    z-index: -1;
                }
            }
        }
    }
}

.training-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.tr-item{
    width: 275px;
    box-shadow: 0 0 27px rgba(32, 43, 113, 0.27);
    border-radius: 10px;
    background-color: #ffffff;
    height: 728px;
    .star{
        margin-top: 15px;
    }
    .orange{
        font-size: 18px;
        color: #ef5b2e;
        font-weight: 500;
    }
    h2{
        color: #000000;
        margin-top: 30px;
        text-indent: 10px;
    }
    div{
        border-top: 1px solid #d3dadd;
        padding: 3px 10px;
        font-size: 14px;
        color: #425c68;
        line-height: 20px;
        span{
            display: block;
        }
        &:first-child{
            border-top: none;
            height: 115px;
            .star{
                height: 25px;
            }
        }
        &:nth-child(2){
            height: 110px;
        }
        &:nth-child(3){
            height: 110px;
        }
        &:nth-child(5){
            height: 110px;
        }
        &:nth-child(6){
            height: 130px;
        }
        &:nth-child(7){
            height: 115px;
        }
        b{
            display: block;
        }
    }
}

.tr-first{
    background-color: transparent;
    box-shadow: none;
    margin-right: -25px;
    span{
        color: #ffffff;
        font-size: 15px;
    }
}

.tr-last{
    background-image: url(../img/tr-last.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 264px;
    h2{
        color: #ffffff;
        margin-top: 30px;
        text-indent: 10px;
    }
    div{
        span{
            color: #ffffff;
        }
    }
    .orange{
        color: #ffd33a;
    }
}

.div-reg{
    margin-top: 60px;
    p{
        color: #ffffff;
        font-weight: 500;
        text-align: center;
    }
    a{
        width: 390px;
        height: 55px;
        box-shadow: 0 0 10px rgba(11, 53, 88, 0.29);
        border-radius: 28px;
        background-color: #f9d511;
        margin: 0 auto;
        text-align: center;
        line-height: 55px;
        display: block;
        font-size: 16px;
        color: #1b2942;
        font-weight: 600;
        &:hover{
            box-shadow: none;
            background-color: #eac600;
            color: #1b2942; 
        }
    }
}

.tech-row{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}

.tech-left{
    width: 50%;
    .tech-img{
        background-image: url(../img/intellect_shadow.png);
        background-repeat: no-repeat;
        background-position: 0px 86%;
        background-size: 79%;
        img{
            width: 449px;
            height: 435px;
        }
    }
}

.tech-right{
    width: 50%;
    h2{
        color: #1b2942;
        font-size: 20px;
    }
    h3, p{
        color: #425c68;
        font-size: 16px;
    }
    ul{
        li{
            list-style-type: none;
            padding-left: 40px;
            position: relative;
            margin-bottom: 20px;
            &:before{
                position: absolute;
                content: '';
                background-image: url(../img/galka.svg);
                background-repeat: no-repeat;
                background-position: 0 0;
                width: 20px;
                height: 20px;
                top: 4px;
                left: 0;
            }
        }
    }
}

.tech-dec{
    margin-top: 100px;
}

.gen-img{
    background-image: url(../img/3elements_shadow.png);
    background-repeat: no-repeat;
    background-position: 53% 98%;
    padding: 15px 0;
    background-size: 36%;
}

.general{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 182px;
    position: relative;
    img{
        width: 444px;
        height: 424px;
    }
}

.text1{
    width: 350px;
    position: absolute;
    color: #425c68; 
    text-align: right;
    top: 30%;
    transform: translateY(-30%);
    left: 0;
    h2{
        font-size: 20px;
    }
    p{
        font-size: 16px;
    }
}

.text2{
    width: 581px;
    color: #425c68;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    h2{
        font-size: 20px;
    }
    p{
        font-size: 16px;
    }
}

.text3{
    width: 400px;
    color: #425c68;
    position: absolute;
    top: 15%;
    right: 10%;
    text-align: left;
    h2{
        font-size: 20px;
    }
    p{
        font-size: 16px;
    }
}

.technology{
    background-image: url(../img/bg-tech.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-top: 60px;
    .sec-descr{
        h2{
            line-height: 42px;
            width: 76%;
        }
    }
}


.body-reg{
    background-image: url(../img/bg-trading-statistics.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    height: 100%;
    width: 100%;
    position: relative;
    margin-top: 3px;
    .sing-inner{
        width: 753px;
        height: 423px;
        box-shadow: 0 0 51px rgba(0, 53, 80, 0.4);
        border-radius: 10px;
        background-color: #ffffff;
        padding: 0 55px;
        padding-top: 60px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        h2{
            text-align: center;
            font-size: 40px;
            font-family: 'gilroy', sans-serif;
            color: #1b2942;
            letter-spacing: 0.17px;
            line-height: 48px;
            padding: 0 30px;
        }
        p{
            color: #425c68;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0.08px;
            margin-top: 20px;
            margin-bottom: 35px;
        }
        .sing-but{
            text-align: center;
            .sing{
                width: 145px;
                height: 55px;
                border-radius: 28px;
                border: 1px solid #3f7fcf;
                font-size: 16px;
                color: #3f7fcf;
                text-align: center;
                line-height: 55px;
                transition: 0.3s ease-in-out;
                display: inline-block;
                font-weight: 500;
                margin-right: 30px;
                &:hover{
                    background-color: #3f7fcf;
                    color: #ffffff;
                }
            }
            .registr{
                width: 261px;
                height: 55px;
                box-shadow: 0 0 10px rgba(11, 53, 88, 0.29);
                border-radius: 28px;
                background-color: #f9d511;
                font-size: 16px;
                color: #1b2942;
                text-align: center;
                line-height: 55px;
                transition: 0.3s ease-in-out;
                display: inline-block;
                font-weight: 600;
                &:hover{
                    background-color: #eac600;
                    box-shadow: none;
                }
            }
        }
    }
}

.reg-inner2{
    .reg-button.rb2{
        width: 272px;
    }
    .reg-descr{
        h2{
            span{
				font-family: 'gilroy', sans-serif;
				font-weight: 700;
				font-size: 44px;
				color: #ffffff;
				letter-spacing: 0.36px;
				line-height: 52px;
				display: inline-block;
				position: relative;
				z-index: 100;
				&:after{
					position: absolute;
					content: '';
					width: 100%;
					height: 12px;
					background-color: #41eefd;
					opacity: 0.6;
					left: 0;
					bottom: 8px;
					z-index: -1;
				}
			}
        }
    }
}












